.hero_part{
    display: flex;
    margin: 35px 0px 0px 45px;
    width: 1440px;
    height: 90px;
    background-color: white;
}
.logo{
width: 75px;
height: 22px;
}
.menu{
    list-style: none;
    display: flex;
    margin-left: 308px;
    text-align: center;
}
.menu > li{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #214E41;
}
.options{
    margin-left: 50px;
}
.hero_btn{
    padding: 10px 14px 10px 14px;
    background: #43806C;
border-radius: 6px;
color: white;
border: none;
margin: 0px 69px;
cursor: pointer;
}
.select{
    margin-left: 29px;
 color: #214E41;
 border: none;
 font-family: 'Raleway';
}
.hero_btn:hover{
    background-color: green;
}
.hero_btn:focus{
    box-shadow: 0px 0px 0px 3px gray;
}
.language{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
margin-left: 50px;
text-transform: uppercase;

color: #214E41;
}
.picture{
    width: 1440px;
    height: 720px;

    
}

.hero_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    color: #214E41;
    
}


.hero_texts > p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #214E41;
}
.hero_texts{
    position: absolute;
    margin: 161px 120px;
}
.text{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
padding: 20px 88px 20px 20px;

color: #222222;
}
.result{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
background-color: #214E41;
border: none;
padding: 20px 35px;
cursor: pointer;
color: #FFFFFF;

}
.textarea{
    display: flex;
}
.hero_picture{
    margin-bottom: 100px;
}
.under_hero{
    position: absolute;
    width: 1200px;
    height: 171px;
    background-color: #FFFFFF;
    margin-top: 625px;
    display: inline-block;
    display: flex;
    margin-left: 120px;
    box-shadow: 0px 5px 5px gray;
}
.umbrella{
    width: 41px;
    height: 45px;
    margin-right: 10px;

}
.inside_box{
    margin: 57px 0px 0px 50px;
    display: flex;
}
.indide_box > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;

/* identical to box height, or 150% */


color: #214E41;
}
.inside1{
    margin-bottom: 40px;
 
}
.inside2 > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;

/* identical to box height, or 150% */


color: #214E41;
}
.curcle{
    width: 45px;
    height: 45px;
}
.inside2{
    margin-left: 10px;
    margin-bottom: 40px;

}
.inside3 > p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    /* identical to box height, or 150% */
    
    
    color: #214E41;
}
.inside_box3{
    display: flex;
    margin-top: 57px;
    margin-left: 42px;
}
.wallet{
    width: 58px;
    height: 45px;
}
.box{
    width: 1200px;
    height: 432px;
    display: inline-block;
    margin-left: 180px;
    margin-top: 137px;
    display: flex;
}
.question{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    
    letter-spacing: 0.05px;
    text-transform: uppercase;
    
    color: #43806C;
}
.reason{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */


color: #214E41;

}
.main_reason{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.02px;

color: #757575;
}
.schedule{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;

/* or 100% */
text-decoration: underline ;
text-align: center;
letter-spacing: 0.02px;
margin-right: 350px;
color: #214E41;
}
.statistics{

}
.number{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 90px;
/* identical to box height, or 129% */


color: #214E41;
}
.introduction{
    width: 510px;
    height: 358px;
}
.statistics{
    display: flex;
}
.results{
    text-decoration: underline;
    color: #214E41;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;

    /* identical to box height, or 169% */
    
    letter-spacing: 0.02px;
    
    color: #214E41;
}


.number{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 90px;
/* identical to box height, or 129% */


color: #214E41;
}
.text1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;

    /* identical to box height, or 169% */
    
    letter-spacing: 0.02px;
    
    color: #214E41;
}
.thick_line1{
    width: 78px;
    height: 150px;
}
.thick_line2{
    width: 78px;
    height: 300px;
}
.thick_lines{
    margin-left: 50px;
}
.kff{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
/* identical to box height, or 169% */
margin-left: 20px;
text-align: center;

color: #757575;
}
.box2{
    width: 510px;
    height: 364px;
    margin-left: 103px;
}
.content1{
    width: 705px;
    height: 640px;
    background: #E3EEED;
    display: inline-block;
}
.west_part{
    margin: 120px 0px 0px 120px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

letter-spacing: 0.05px;
text-transform: uppercase;

color: #214E41;
}
.west_h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height, or 131% */

margin-left: 120px;
color: #214E41;
}
.west{
    display: flex;
}
.west_vector{
    width: 24px;
    height: 18px;
    margin-top: 38px;
    margin-left: 18px;
}
.west_options{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height, or 131% */

margin-left: 120px;
color: #43806C;
}
.content2{
    width: 735px;
    height: 640px;
    background: #214E41;
}
.east_text{
    margin-left: 120px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
/* or 170% */

letter-spacing: 0.02px;
margin-top: 165px;
color: #FFFFFF;
}
.main_content{
    display: flex;
}
.box_plan{
    display: flex;
    margin-left: 120px;
    margin-top: 120px;
}
.plan{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

letter-spacing: 0.05px;
text-transform: uppercase;

color: #43806C;
}
.introduction_plan{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */


color: #214E41;
}
.text_offer{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.02px;

color: #757575;
}
.more_data{
    text-decoration: underline;
    color: #214E41;
    font-family: 'Raleway';
}
.img{
    width: 560px;
    height: 298px;
    margin-left: 83px;
}
.first_part{
    margin-left: 120px;
    margin-top: 100px;
}

.first_part > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
/* or 169% */

letter-spacing: 0.02px;

color: #214E41;
}
.second_part{
    margin-left: 74px;
}
.first_h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
/* identical to box height, or 130% */


color: #F0A446;

}
.numbers{
    display: flex;
}
.first_text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */
    
    letter-spacing: 0.02px;
    
    color: #214E41;  
}
.second_part{
    margin-top: 102px;
}
.third_part{
   margin-left: 50px;
   margin-top: 102px; 
}
.fourth_part{
    margin-left: 50px;
    margin-top: 102px; 
}
.phone_part{
    margin-left: 235px;
    margin-top: 117px;
    display: flex;
}
.text_phone{
    margin-left: 223px;
    margin-top: 186px;
}
.claims{
    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

letter-spacing: 0.05px;
text-transform: uppercase;

color: #43806C;
}
.recommendation{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */


color: #214E41;
}
.rules{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.02px;

color: #757575;

}
.play{
    text-decoration: underline;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: 0.02px;

color: #214E41;
}
.img_final{
width: 1440px;
}
.staff{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

letter-spacing: 0.05px;
text-transform: uppercase;

color: #43806C;
}
.enrollment{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */


color: #214E41;
}
.text_assure{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.02px;

color: #757575;

}
.final_text{
    position: absolute;
    margin-top: 126px;
    margin-left: 120px;
}